@import url('https://fonts.cdnfonts.com/css/florante-at-laura');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(70deg, blue, green, pink);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}
.calculator-body {
  background-color: black;
  position: relative;
  top: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 360px;
  border: 4px solid white;
  border-color: #ff0039 #b40028 #b40028 #ff0039;
  border-radius: 15px;
}
.calculator-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  background-color: white;
}
.js-calc {
  color: black;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
hr {
  width: 350px;
  height: 5px;
  background: linear-gradient(70deg, blue, green, pink);
}
.calc-top {
  padding: 10px 0px;
  margin-right: 15px;
}
.calc-top button {
  border-radius: 100%;
  border: none;
  margin-left: 10px;
  background-color: gray;
  font-weight: 900;
}
.calc-top .clear {
  padding: 15px 20px;
  font-size: 27px;
  color: rgb(247, 16, 16);
}
.calc-top .raise {
  padding: 15px 23px;
  font-size: 27px;
  background-color: rgb(247, 168, 22);
  color: white;
  text-align: center;
}
.calc-top .modulo {
  padding: 15px 20px;
  font-size: 25px;
  background-color: rgb(247, 168, 22);
  color: white;
}
.calc-top .divide {
  padding: 14px 27px;
  font-size: 27px;
  background-color: rgb(247, 168, 22);
  color: white;
}
.calc-top .clear:hover {
  background-color: black;
  color: rgb(247, 16, 16);
  border: 1px solid white;
}
.calc-top button:hover {
  color: black;
  border: 1px solid white;
}
.calc-stop {
  padding: 10px 0px;
  margin-right: 15px;
}
.calc-stop button {
  border-radius: 100%;
  border: none;
  margin-left: 10px;
  font-weight: 900;
  background-color: gray;
  color: white;
}
.calc-stop .seven {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-stop .eight {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-stop .nine {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-stop .multiply {
  padding: 15px 23px;
  font-size: 27px;
  background-color: rgb(247, 168, 22);
  color: white;
}
.calc-stop .multiply:hover {
  color: black;
  border: 1px solid white;
}
.calc-stop button:hover {
  color: rgb(19, 211, 19);
  border: 1px solid white;
}
.calc-ttop {
  padding: 10px 0px;
  margin-right: 15px;
}
.calc-ttop button {
  border-radius: 100%;
  border: none;
  margin-left: 10px;
  font-weight: 900;
  background-color: gray;
  color: white;
}

.calc-ttop .four {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-ttop .five {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-ttop .six {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-ttop .minus {
  padding: 14px 27px;
  font-size: 27px;
  background-color: rgb(247, 168, 22);
  color: white;
}
.calc-ttop .minus:hover {
  color: black;
  border: 1px solid white;
}
.calc-ttop button:hover {
  color: rgb(19, 211, 19);
  border: 1px solid white;
}
.calc-ftop {
  padding: 10px 0px;
  margin-right: 15px;
}
.calc-ftop button {
  border-radius: 100%;
  border: none;
  margin-left: 10px;
  font-weight: 900;
  background-color: gray;
  color: white;
}

.calc-ftop .one {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-ftop .two {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-ftop .three {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-ftop .plus {
  padding: 15px 23px;
  font-size: 27px;
  background-color: rgb(247, 168, 22);
  color: white;
}
.calc-ftop .plus:hover {
  color: black;
  border: 1px solid white;
}
.calc-ftop button:hover {
  color: rgb(19, 211, 19);
  border: 1px solid white;
}
.calc-ltop {
  padding: 10px 0px;
  margin-right: 15px;
}
.calc-ltop button {
  border-radius: 100%;
  border: none;
  padding: 20px 23px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
  background-color: gray;
  color: white;
}
.calc-ltop .delete {
  padding: 15px 11px;
  font-size: 27px;
  color: rgb(247, 16, 16);
}
.calc-ltop .zero {
  padding: 15px 23px;
  font-size: 27px;
}
.calc-ltop .dot {
  padding: 15px 25px;
  font-size: 27px;
}
.calc-ltop .equal {
  padding: 15px 23px;
  font-size: 27px;
  background-color: rgb(247, 168, 22);
  color: white;
}
.calc-ltop .delete:hover {
  color: rgb(247, 16, 16);
  background-color: black;
  border: 1px solid white;
}
.calc-ltop .equal:hover {
  color: black;
  border: 1px solid white;
}
.calc-ltop button:hover {
  color: rgb(19, 211, 19);
  border: 1px solid white;
}
.owner{
position: relative;
  color: white;
  top: 70px;
  left: 70px;
}
.owner p{
  font-size: 29px;
  font-weight: 800;
  font-family: 'Florante at Laura', sans-serif; 
  background: linear-gradient(to top,red,white);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;  
}